<md-fab-speed-dial md-direction="up" class="md-fling">
    <md-fab-trigger>
        <md-button aria-label="Add..."> <a href="javascript:void(0)" class="material-icons">open_with</a> </md-button>
    </md-fab-trigger>

    <md-fab-actions>
        <md-button aria-label="Add item" ng-click="$ctrl.addItem('text')">
            TEXT
        </md-button>  
        <md-button aria-label="Add item " ng-click="$ctrl.addItem('number')">
            NUMBER
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>