//@import "~material"; 
//@import "./src/style/angular-material.min.scss";  

.ddf_item_settings_btn,
.ddf_item_move_btn {
    font-weight: normal; 
    color: grey; 
    font-size: 2em;
    text-decoration: none;
}
.ddf_item_settings_btn:hover,
.ddf_item_move_btn:hover {
    color: rgb(99, 99, 99);     
} 

.ddf-test8  {
    //@extend .md-whiteframe-8dp;        
}