/*@import "./../../style/angular-material.min.scss"; 
 
$primary-color: #333;

 
 .angular-ui-tree-drag {
     opacity: 1;
 }

.ddf-element-container {
     background-color: $primary-color;
 }
 
.ddf-element-container-dragg .angular-ui-tree-node  {
    @extend .md-whiteframe-8dp;    
    background-color: white;
}

.ddf-element-container-placeholder {
    background-color: burlywood;
    margin-bottom: 8px;
     
 }

md-input-container {
    margin-bottom: 0px;
}
.md-errors-spacer {
   min-height: 14px;
}*/